In [1]:
import pandas as pd
import sqlite3

In [2]:
# make them data frames

df_emp = pd.read_csv('data/raw/ssamatab1.csv', skiprows=2).dropna()

df_house = pd.read_csv('data/raw/hpi_po_metro.csv')

In [3]:
# rename columns

df_emp.rename(columns={
    "Area FIPS Code" : "FIPS Code",
    "ST FIPS Code" : "State FIPS Code",
}, inplace=True)

In [4]:
df_emp.dtypes

LAUS Code                object
State FIPS Code         float64
FIPS Code               float64
Area                     object
Year                    float64
Month                   float64
Civilian Labor Force     object
Employment               object
Unemployment             object
Unemployment Rate        object
dtype: object

In [5]:
# type cast columns with floats to int64
 
df_emp = df_emp.astype({
    "Year" : "Int64",
    "Month" : "Int64",
    "State FIPS Code" : "Int64",
    "FIPS Code" : "Int64",
    })

In [6]:
# I am unable to type cast the object columns to in64. One possible reason could be there are empty strings. .isna() doesn't count strings, so check if there are any records with empty strings in object type columns.

(df_emp[['Employment', 'Unemployment', "Unemployment Rate", "Area", "LAUS Code", "Civilian Labor Force"]].values == '').sum()

np.int64(0)

In [7]:
object_columns = ['Employment', 'Unemployment', "Unemployment Rate", "Area", "LAUS Code", "Civilian Labor Force"]

In [8]:
# found a value called (n) which is a null value.
df_emp['Employment'].iloc[250:270]

251     45,222
252     28,974
253    314,110
254    182,327
255    900,488
256        (n)
257    747,794
258    384,580
259     48,122
260     58,004
261     58,093
262     66,958
263    286,826
264     56,608
265    212,807
266     25,634
267     42,227
268    476,049
269    374,891
270     41,323
Name: Employment, dtype: object

In [9]:
# 512 fields of (n). Need to replace or drop these somehow.
(df_emp[['Employment', 'Unemployment', "Unemployment Rate", "Area", "LAUS Code", "Civilian Labor Force"]].values == '(n)').sum()

np.int64(512)

In [10]:
df_emp.shape

(168204, 10)

In [11]:
# find rows with '(n)' and remove them from the dataset. 

mask = df_emp[object_columns].apply(lambda x: x.str.contains(r'\(n\)')).any(axis=1)

df_emp = df_emp[~mask]
df_emp.shape

(168076, 10)

In [16]:
for column in object_columns:
    df_emp = df_emp[column].str.replace(",", "")
df_emp

KeyError: 'Unemployment'

In [14]:
for column in object_columns:
    df_emp[object_columns].astype(int)

ValueError: invalid literal for int() with base 10: '47,884'

In [ ]:
import sqlite3
import pandas as pd

# create the database
connection = sqlite3.connect("database/database.db")

# import files
housing_value = pd.read_csv('data/raw/hpi_po_metro.csv')

unemployment = pd.read_csv('data/raw/ssamatab1.csv', skiprows=2)

# clean unemployment
unemployment = unemployment.dropna(axis=1)
print(unemployment.info())
print(housing_value.info())

# create the tables in the database


df_emp = unemployment.to_sql("unemployment", connection, if_exists="replace", index=False)
df_ housing_value.to_sql("housing_value", connection, if_exists="replace", index=False)

SyntaxError: invalid syntax (2755860354.py, line 21)