In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import sqlite3
from src.cleaning import DataCleaner

In [2]:
# import the csv files
raw_unemployment_data = pd.read_csv('data/raw/ssamatab1.csv', skiprows=2).dropna()
housing_value_data = pd.read_csv('data/raw/hpi_po_metro.csv')

In [6]:
data_cleaner = DataCleaner('data/raw/hpi_po_metro.csv', 'data/raw/ssamatab1.csv')
data_cleaner.rename_unemployment_columns(raw_unemployment_data)
data_cleaner.clean_unemployment_data

,LAUS Code,State FIPS Code,FIPS Code,Area,Year,Month,Civilian Labor Force,Employment,Unemployment,Unemployment Rate
1,MT0111500000000,1,11500,"Anniston-Oxford, AL MSA",1990,1,51501,47884,3617,70
2,MT0112220000000,1,12220,"Auburn-Opelika, AL MSA",1990,1,53578,49408,4170,78
3,MT0113820000000,1,13820,"Birmingham, AL MSA",1990,1,458343,434097,24246,53
4,MT0119300000000,1,19300,"Daphne-Fairhope-Foley, AL MSA",1990,1,46132,43694,2438,53
5,MT0119460000000,1,19460,"Decatur, AL MSA",1990,1,65284,60964,4320,66
...,...,...,...,...,...,...,...,...,...,...
168200,MT7211640000000,72,11640,"Arecibo, PR MSA",2025,8,68674,64402,4272,62
168201,MT7225020000000,72,25020,"Guayama, PR MSA",2025,8,19243,17562,1681,87
168202,MT7232420000000,72,32420,"Mayaguez, PR MSA",2025,8,68825,62866,5959,87
168203,MT7238660000000,72,38660,"Ponce, PR MSA",2025,8,90856,83087,7769,86
168204,MT7241980000000,72,41980,"San Juan-Bayamon-Caguas, PR MSA",2025,8,829735,792573,37162,45

In [4]:
# create data cleaner
unemployment_cleaner = DataCleaner('data/raw/ssamatab1.csv')

TypeError: DataCleaner.__init__() missing 1 required positional argument: 'unemployment_data_file_path'

In [ ]:
# rename, drop null values, and type cast columns in the unemployment dataset

clean_unemployment_data = (
                            unemployment_cleaner
                           .rename_unemployment_columns()
                           .drop_n_values()
                           .unemployment_object_columns_to_int64()
                           .unemployment_float_cols_to_int64()
                           )
clean_unemployment_df = clean_unemployment_data.df
clean_unemployment_data

In [ ]:
# make SQL database with tables "Unemployment" and "Housing_value"

with sqlite3.connect("database.db") as conn:
    clean_unemployment_df.to_sql("Unemployment", conn, if_exists='replace', index=False)
    housing_value_data.to_sql("Housing_value", conn, if_exists='replace', index=False)

In [ ]:
query1 = """
SELECT * FROM Unemployment
"""
result1 = pd.read_sql(query1, conn)
result1

,LAUS Code,State FIPS Code,FIPS Code,Area,Year,Month,Civilian Labor Force,Employment,Unemployment,Unemployment Rate
0,MT0111500000000,1,11500,"Anniston-Oxford, AL MSA",1990,1,51501,47884,3617,70
1,MT0112220000000,1,12220,"Auburn-Opelika, AL MSA",1990,1,53578,49408,4170,78
2,MT0113820000000,1,13820,"Birmingham, AL MSA",1990,1,458343,434097,24246,53
3,MT0119300000000,1,19300,"Daphne-Fairhope-Foley, AL MSA",1990,1,46132,43694,2438,53
4,MT0119460000000,1,19460,"Decatur, AL MSA",1990,1,65284,60964,4320,66
...,...,...,...,...,...,...,...,...,...,...
168071,MT7211640000000,72,11640,"Arecibo, PR MSA",2025,8,68674,64402,4272,62
168072,MT7225020000000,72,25020,"Guayama, PR MSA",2025,8,19243,17562,1681,87
168073,MT7232420000000,72,32420,"Mayaguez, PR MSA",2025,8,68825,62866,5959,87
168074,MT7238660000000,72,38660,"Ponce, PR MSA",2025,8,90856,83087,7769,86
168075,MT7241980000000,72,41980,"San Juan-Bayamon-Caguas, PR MSA",2025,8,829735,792573,37162,45